# 파이썬 기초
## 파이썬 이란
- 1990년 암스테르담의 귀도 반 로섬(Guido Van Rossum)이 개발한 인터프리터 언어
- 컴퓨터 프로그래밍 교육을 위해 많이 사용하지만, 기업의 실무를 위해서도 많이 사용하는 언어. 구글에서 만든 소프트웨어의 50%이상이 파이썬으로 작성
## 파이썬의 특징
- 파이썬은 인간다운 언어이다
- 파이썬은 문법이 쉬워 빠르게 배울 수 있다
- 파이썬은 무료이지만 강력하다
- 파이썬은 간결하다
- 파이썬은 프로그래밍을 즐기게 해준다
- 파이썬은 개발 속도가 빠르다
## 파이썬으로 할 수 있는 일
- 시스템 유틸리티 제작
- GUI 프로그래밍
- C/C++와의 결합
- 웹 프로그래밍
- 수치 연산 프로그래밍
- 데이터베이스 프로그래밍
- 데이터 분석, 사물 인터넷
## 참조
- 표현식 : 어떠한 값을 만들어 내는 간단한 코드. 273, 10 + 20 + 30, "Python Programming"
- 문장 : 표현식이 하나 이상 모이면 문장. print("Hello")
- 프로그램 : 문장이 모여서 프로그램
- 식별자 : 프로그램밍 언어에서 이름을 붙일 때 사용하는 단어. 주로 변수 또는 함수 이름 등으로 사용
- 주석 : 프로그램을 설명하기 위해 사용. # 기호로 주석 처리
- 연산자 : 스스로 값이 되는 것이 아니고 값과 값 사이에 무언가 기능을 적용할 때 사용
- 자료 : 리터럴이라고 하는데 숫자이든 문자이든 어떠한 값 자체를 의미. 1, 10, "Hello"
- 키워드 : 파이썬이 만들어질 때 이미 사용하겠다고 예약해 놓는 것. False, None, True, ...
- 프로그램밍 언어에서 사용자가 이름을 정할 때 키워드는 사용할 수 없음

In [8]:
!python -V

Python 3.8.12

In [17]:
#표현식
print(273)
10+20+30         #print를 안주면 맨 밑에 식만 출력

'python programming'

273

'python programming'

In [18]:
# 표현식이 하나 이상씩 모이면 문장
print("Hello Python")
print(52,"Hello Python", 5+3)

Hello Python
52 Hello Python 8

In [22]:
#문장이 모여서 프로그램
a=1;b=1;c=a+b
print(c)

2

In [28]:
#파이썬 키워드

import keyword
print(keyword.kwlist,'\n')

print(len(keyword.kwlist))

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

35

### 식별자 기본 규칙

- 키워드를 사용하면 안된다.
- 특수문자는 언더 바(_)만 사용한다.
- 숫자로 시작하면 안된다.
- 공백을 포함할 수 없다.

In [29]:
alpha
break #키워드
alpha10
_alpha
273alpha # 숫자
AlpHa
has space #공백
#은 다 사용불가

SyntaxError: invalid syntax (Temp/ipykernel_10040/3303675845.py, line 5)

https://bibi6666667.tistory.com/277
#### Camel case, Kebab case, Snake case 그리고 Pascal case

- itemlist item_list ItemList
- loginstatus login_status LoginStatus
- 캐일 케이스(대문자로 시작) 클래스
- 스네이크 케이스(소문자로 시작)뒤에 ()가 있다 -함수
- 스네이크 케이스(소문자로 시작)뒤에()가 없다 -변수

In [31]:
# 사람이 생각하는 방식을 그대로 표현할 수 있는 언어

if 3 in [1,2,3,4]: print('3이 있습니다.')  #조건문은 :(콜론)으로 구분

3이 있습니다.

In [37]:
#연습

if 2 in [1,2,3,4]:print('2가 있습니다.')

    
if 'A' in ['A','B','C']:print('A가 있습니다.')

2가 있습니다.
A가 있습니다.

In [42]:
#파이썬 자료형 - 숫자형(정수, 실수, 8진수, 16진수)
a =123
b =-123
c= 0
d= 1.23
e =0o177  #8진수 0o로 시작
f=0xABC  #16진수 0x로 시작
g=0b101010 #2진수는 0b로 시작
print(a)
print(b)
print(c)
print(d)
print(e)
print(f)
print(g)

123
-123
0
1.23
127
2748
42

In [44]:
# 사칙연산
a=10
b=2
c=a+b
d=a*b
e=a/b
f=a%b
g=a//b  #몫
h = 2**3  #제곱

print(a)
print(b)
print(c)
print(d)
print(e)
print(f)
print(g)
print(h)

10
2
12
20
5.0
0
5
8

In [48]:
#다른 타입간 연산은 안됨
string ="문자열"
number =273
string + number #문자와 숫자는 붙일 수가 없다

TypeError: can only concatenate str (not "int") to str

In [50]:
a=10
a="문자"
a=10
type(a)

int

In [54]:
#연습

num = 100
num /=10
print(num,'\n')
num =100
num +=100
num /=20
print(num)

10.0

10.0

In [56]:
# 사용자입력
input('인사말을 입력하세요: ')

인사말을 입력하세요: aa

'aa'

##### 사용자입력
num = input('숫자를 입력하세요: ')
print(num)
type(num)

In [7]:
num1 = input('숫자를 입력하세요')
num2 = input('숫자를 입력하세요')
print(num1 + num2)
## 문자열로 받아들여 연산을 하려면 밑에처럼 바꿔줘야함

숫자를 입력하세요
숫자를 입력하세요

In [8]:
num1 = input('숫자를 입력하세요')
num1_n= int(num1)
num2 = input('숫자를 입력하세요')
num2_n= int(num2)
print(num1_n + num2_n)

숫자를 입력하세요3
숫자를 입력하세요3
6

In [6]:
#연습
#Q. 3과 3.3을 입력하고 숫자연산을 수행하여 6.3을 출력하세요.

num1 = input('숫자를 입력하세요')
num1_n= int(num1)
num2 = input('숫자를 입력하세요')
num2_n= float(num2)
print(num1_n + num2_n)

숫자를 입력하세요3
숫자를 입력하세요3.3
6.3

In [10]:
#연습
#Q. a= 52 와 b = 52.273일대 a+b는 5252.273으로 출력되도록 a와 b를 문자얼 자료형으로 변환하세요.

a= 52
b= 52.273
a_s=str(a)
b_s=str(b)
print(a_s + b_s)

5252.273

In [14]:
# 문자열 : "", '', """""", ''''''
p1 = "python's value is great"
# p2 = 'python's value is great'   ==> 중간에 있는 작은따옴표 때문에 문자열이 잘림
# s1= ""pythons is valuable" he say" ==> 큰따옴표가 문자열안에 있으므로 작은따옴표를 사용하여 문자열 표기
s2= '"pythons is valuable" he say'

In [16]:
y1= "Once you study data analysis\nYou need Python"
print(y1)
y2 = '''Once you study data analysis
you need Python'''
print(y2)
y3 = """Once you study data analysis
you need Python"""
print(y3)

Once you study data analysis
You need Python
Once you study data analysis
you need Python
Once you study data analysis
you need Python

In [21]:
#연습
s='''a
b
c
d
'''
print(s)

a
b
c
d

In [3]:
#연습2

num=input("숫자: ")
num_i=int(num)

if num_i<=10:
    print("10보다 작습니다.")
else: 
    print("10보다 큽니다.")

숫자: 11
10보다 큽니다.

In [5]:
#문자열 연산
a1 =' Python'
a2='is easy to learn'
print(a1 + a2)
print(a1 *3)
print("=" * 20)

 Pythonis easy to learn
 Python Python Python
====================

In [9]:
#자료형-List
#리스트는 []로 표시되며 []안의 요소를 콤머로 구분하여 순서있게 나열
list1=[1,2,3,4,5]
list2=['a','b','c']
list3=[1,'a','abc',[1,2,3,4,5],['a','b','c']]
print(list3)

[1, 'a', 'abc', [1, 2, 3, 4, 5], ['a', 'b', 'c']]

In [17]:
#인덱싱
list1=[1,2,3,4,5]
print(list1[:])
print(list1[2])
print(list3[3][4])
print(list3[4][1])

[1, 2, 3, 4, 5]
3
5
b

In [20]:
#리스트 수정, 삭제

a = [0,1,2,3,4,5,6,7,8,9]
b=['a','b','c']
a[0] = 1
b[1] = 'a'
print(a)
print(b)
print(b[0],b[2])
del b[1]
print(b)

[1, 1, 2, 3, 4, 5, 6, 7, 8, 9]
['a', 'a', 'c']
a c
['a', 'c']

In [22]:
a = [0,1,2,3,4,5,6,7,8,9]
b=['a','b','c']
c= a+b
print(c)   
print(c[-1])    # 인덱스 번호 -1은 인덱스의 가장 마지막 자리를 나타냄 ==> 앞에서부터 0,1,2.... 뒤에서부턴 ...-3,-2,-1
print(c[-2])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 'a', 'b', 'c']
c
b

In [26]:
#정렬
b=[2,4,3,1]
b.sort()
print(b)
#내림차순
b_d = sorted(b, reverse=True)
print(b_d)

[1, 2, 3, 4]
[4, 3, 2, 1]

In [33]:
s=[1,1,2,3,4,5,6,7,8,9,2,1]
s_d = sorted(s, reverse=1)
print(s_d)

[9, 8, 7, 6, 5, 4, 3, 2, 2, 1, 1, 1]

In [35]:
#인덱스 위치 반환
c = [1,2,3,1,5]
print(c.index(3))

2

In [49]:
import numpy as np
c= np.random.randint(100, size=100).tolist()   #랜덤한 100개의 숫자를 리스트 형태로 설정
print(c)
print("")
print(c.index(1))
print(c.count(1))

[26, 31, 91, 58, 1, 16, 21, 17, 9, 13, 91, 54, 18, 95, 94, 98, 76, 92, 51, 65, 67, 4, 98, 82, 9, 26, 69, 34, 93, 76, 6, 37, 17, 84, 78, 11, 34, 58, 4, 93, 18, 37, 72, 32, 92, 51, 7, 55, 70, 84, 16, 94, 98, 75, 21, 41, 78, 13, 5, 86, 85, 20, 72, 39, 8, 17, 82, 77, 27, 99, 94, 9, 7, 0, 78, 42, 48, 2, 68, 62, 18, 4, 26, 39, 69, 66, 13, 47, 3, 80, 84, 88, 3, 2, 15, 0, 46, 50, 27, 95]

4
1

In [56]:
#리스트 확장
h=[1,2,3]
h.extend([4,5])  #리스트 맨뒤에 추가
print(h)
#추가
h.append(6)  #
print(h)
h.insert(0,5) #insert(인덱스 주소,추가할데이터)
print(h)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]
[5, 1, 2, 3, 4, 5, 6]

In [73]:
#튜플

tuple1 =(1,2,3,4,5)
tuple2=('a','b','c')
tuple3=(1,'a','abc',[1,2,3,4,5],['a','b','c'])

print(tuple1[:])
print(tuple3[2])
print(tuple3[3][4])
print(tuple3[4][1])

(1, 2, 3, 4, 5)
abc
5
b

In [62]:
tuple1[0]=6
print(tuple1)

TypeError: 'set' object does not support item assignment

In [70]:
#자료형-Tuple
#튜플의 요소값은 변경할 수 없음- 프로그램에서 그 값이 항상 변하지 않아야되는 경우 사용

In [74]:
t1=(1,)
print(t1)
t2 = 1,2,3
print(t2)
print(t2*3)
t3 = t1 +t2
print(t3)
t4 =(1)
print(t4)
type(t4)

(1,)
(1, 2, 3)
(1, 2, 3, 1, 2, 3, 1, 2, 3)
(1, 1, 2, 3)
1

int

In [106]:
#자료형-사전{키와 값을 하나의 요소로 하는 순서가 없는 집합}
d1={'a':1,"b":2,"c":3}
print(d1["a"])
d1['b'] = 5
print(d1)

1

KeyError: 1

In [78]:
print(d1.keys())  #키값만 뽑아 볼 수 있다.
print(d1.values())  #값만 뽑아 볼 수 있다.
print(d1.items())  #키와 값의 형태로 볼 수 있다.

dict_keys(['a', 'b', 'c'])
dict_values([1, 5, 3])
dict_items([('a', 1), ('b', 5), ('c', 3)])

In [82]:
#연습-사전만들기

dir={'a':0,'b':0,'c':0,}
print(dir)
dir['a']=input("값을 입력하시오: ")
dir['b']=input("값을 입력하시오: ")
dir['c']=input("값을 입력하시오: ")
print(dir.keys())
print(dir.values())
print(dir.items())

{'a': 0, 'b': 0, 'c': 0}
값을 입력하시오: 101
값을 입력하시오: 10
값을 입력하시오: 10
dict_keys(['a', 'b', 'c'])
dict_values(['101', '10', '10'])
dict_items([('a', '101'), ('b', '10'), ('c', '10')])

In [86]:
#자료형- 집합,set(중복을 허용하지 않으며 순서가 없다.)
s1 =set([1,2,5,4,3])  #중복이 없으므로 그대로 나오나 순서는 랜덤
s2 =set('Hello')  #"l" 이 중복이므로 하나만 나온다
print(s1)
print(s2)

{1, 2, 3, 4, 5}
{'H', 'l', 'e', 'o'}

In [89]:
#집합은 인덱싱으로 값을 얻을 수 없으며 필요시 리스트나 튜플로 변환 후 인덱싱
l1 = list(s1)
print(l1[1])
l2 = list(s2)
print(l2[1])

2
l

In [96]:
#연습
#Q. s1, s2의 합집합과 교집합을 각각 리스트와 튜플로 출력하세요.
# 합집합(s1|s2) 교집합(s1&s2)
s1 =set([1,2,3,4,5,6])
s2 = set([4,5,6,7,8,9])

l1=list(s1)
l2=list(s2)

print(s1|s2)
print(s1&s2)

a= (s1|s2)
b= (s1&s2)

print(a)
print(b)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{4, 5, 6}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{4, 5, 6}

In [98]:
#연습- 자료형 바꾸는 연습
s1=set([1,2,4,6,3,4,5])
#set==>list
l1=list(s1)
print(l1)
#set==>tuple
t1=tuple(s1)
print(t1)
#set==>

[1, 2, 3, 4, 5, 6]
(1, 2, 3, 4, 5, 6)

In [99]:
#들여쓰기
li=['a','b','c']
if 'a'in li:
    print("a가 li에 있습니다.")
else:
    print("a가 li에 없습니다.")

a가 li에 있습니다.

In [102]:
# 문자열 포멧
name = '홍길동'
age = 30
f'나의 이름은 {name}입니다. 나이는 {age} 입니다.'

'나의 이름은 홍길동입니다. 나이는 30 입니다.'

In [104]:
d={'name':'홍길동','age':30}
f'나의 이름은 {d["name"]}입니다. 나이는{d["age"]}입니다.'

'나의 이름은 홍길동입니다. 나이는30입니다.'

In [107]:
y=3.141592
f'{y:0.4f}'   #소수점 4자리까지만 표현

'3.1416'

In [113]:
y=3.141592
f'{y:10.4f}'    #소수점 4자리까지 표시하고 총자리수를 10으로 맞춤

'    3.1416'

In [115]:
#포멧함수
f1 = "{} 선수가 {}등입니다.".format('홍길동',1)
# f1 = "{1} 선수가 {0} 등입니다.".format(1,"홍길동")  ==>{}중괄호 안에 숫자를 넣어 순서를 정해줘도 됌
print(f1)
print("%s 선수가 %d등입니다." %("홍길동",1))

홍길동 선수가 1등입니다.
홍길동 선수가 1등입니다.

In [123]:
#연습-파이썬은 자바보다 2배 쉽습니다.

f1 = "{}은 {}보다 {}배 더 쉽습니다.".format('파이썬','자바',2)
print(f1)
f1 = "{1}은 {2}보다 {0}배 더 쉽습니다.".format(2,'파이썬','자바')
print(f1)
f1 = ("%s은 %s보다 %d배 더 쉽습니다."%('파이썬','자바',2))
print(f1)

파이썬은 자바보다 2배 더 쉽습니다.
파이썬은 자바보다 2배 더 쉽습니다.
파이썬은 자바보다 2배 더 쉽습니다.

#[과제]-아래와 같이 출력하세요.
12345
     12345
12.345679
         12.346

In [143]:
#과제1

a=123456789
a_s=str(a)
print(a_s[0:5])
c= "%10s" % a_s[0:5]
print(c)
a=a/10000000
print(a)
a_s=str(a)
c= "%18s" % a_s[0:7]
print(c)

12345
     12345
12.3456789
           12.3456

In [149]:
#과제1-1

a="123456789" #리스트처럼 본다.
print(a[0:5])
c= "%10s" % a[0:5]
print(c)
print(a)

SyntaxError: unexpected EOF while parsing (Temp/ipykernel_21528/2955847771.py, line 8)

In [150]:
#제어문 if~elif~else
#수입과 지출금액을 비교해서 수입이 많으면 저축 증가, 반대면 빚이 증가 같으면 현상유지

i=5000000
e=3000000

if i>e:
    print("저축증가")
elif i<e:
    print("빚이 증가")
else:
    print("현상 유지")

저축증가

In [154]:
#for 반복문
numbers=[5,15,6,20,7,25]
for number in numbers:     #numbers에서 number을 출력
    print(number, end=' ')

5 15 6 20 7 25

In [194]:
#for~continue~break
#1~10까지 범위의 정수에서 1부터 5까지만 출력하세요.
for i in range(1,11):
    print(i,end=" ")
    if i< 5:
        continue
    else:
        break

1 2 3 4 5

In [213]:
# numbers 리스트에서 15,20,25를 출력하세요.(for문과 if문 사용 필수)

numbers = [5,15,6,20,7,25]

for i in range(0,6):
    if(numbers[i]>=15):
        print(numbers[i],end=" ")

15 20 25

In [2]:
#while
# 정수 1~n까지 더할 때 그 합이 1000보다 커지게 되는 n과 합을 구하시오.

x=1
sum=0
while 1:
    sum+=x
    x+=1
    if sum>1000:
        print(x,sum)
        break

46 1035

In [5]:
#연습 while문을 사용해서 1부터 1000까지 정수중에서 3의 배수의 합을 구해보세요.

x=1
sum=0

while 1:
    x+=1
    if(x%3==0):
        sum+=x
    if(x>=1000):
        print(sum)
        break

166833

In [8]:
#연습 while문을 사용해서 1부터 1000까지 정수중에서 3의 배수의 합을 구해보세요.

x=1
sum=0

while x<1000:
    x+=1
    if(x%3==0):
        sum+=x
print(sum)

166833

### 과제
#### 1부터 100까지 정수 중 5에서 95까지의 합을 구하세요.

In [14]:
a=1
sum=0

while a<1000:
    a+=1
    if(a>=5) and (a<=95):
        sum+=a
print(sum)

4550

In [189]:
#연습: 5를 2로 나눴을때 몫과 나머지를 구하시오
a=5//2
b=5%2
print("몫은 %d, 나머지는 %d입니다."%(a,b))

몫은 2, 나머지는 1입니다.

In [168]:
#연습-Python과 3.8.3을 합쳐서 Python 3.8.3을 출력하시오

print("Python" + "3.8.3")

Python3.8.3

In [169]:
#연습-a=2, a='10' a=15 일때 a의 자료형은 무엇인가?

a=2
a='10'
a=15
type(a)

int

In [173]:
#연습- 5의 3승을 3으로 나누었을때의 나머지를 복합 대입 연산자를 이용해서 구하세요

a=5
a*=5
a*=5
a%=3
print(a)

2

In [179]:
#연습-이름을 물어보고 답하는 내용을 출력하세요
a=input("이름을 입력하세요: ")
print("이름은 %s입니다."%a)

이름을 입력하세요: dd
이름은 dd입니다.

In [185]:
#연습-숫자3개를 입력해서 첫번째 숫자를 두번째 숫자 승한 뒤에 세번째 숫자로 나눴을 때 몫을 구하시오

num1=input("첫번째 숫자를 입력: ")
num2=input("두번째 숫자를 입력: ")
num3=input("세번째 숫자를 입력: ")

num1=int(num1)
num2=int(num2)
num3=int(num3)

print((num1**num2)//num3)

첫번째 숫자를 입력: 1
두번째 숫자를 입력: 2
세번째 숫자를 입력: 3
0

# 과제

In [2]:
#Q1. while문을 사용해 1부터 1000까지 정수 중 3과 5의 공배수의 합을 구해 보세요.
a=1
sum=0
while a<1000:
    a+=1
    if (a%3==0) and (a%5==0):
        sum+=a
        
print(sum)

33165

In [9]:
# Q2.1부터 5까지 입력해서 12345를 출력하세요

l1=[0,0,0,0,0]

for i in range(0,5):
    l1[i]=input("숫자를 입력하시오: ")
    i=i+1

for a in l1:
    print(a,end="")

숫자를 입력하시오: 1
숫자를 입력하시오: 2
숫자를 입력하시오: 3
숫자를 입력하시오: 4
숫자를 입력하시오: 5
12345

In [11]:
#Q3. [0,1,2,3,4,5,6,7,8,9,'a','b','c']에서 9와 a를 삭제 후 리스트를 출력하세요.

l1=[0,1,2,3,4,5,6,7,8,9,'a','b','c']

del(l1[9])
del(l1[9])

print(l1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 'b', 'c']

In [12]:
#Q4.'c'를 삭제 후 출력하세요
del (l1[-1])
print(l1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 'b']

In [14]:
#Q5. [4,8,5,4,8,4,3,9,1,9]를 내림차순으로 정렬

n1=[4,8,5,4,8,4,3,9,1,9]
n1_d = sorted(n1, reverse=1)
print(n1_d)

[9, 9, 8, 8, 5, 4, 4, 4, 3, 1]

In [96]:
#Q6.format 함수를 이용해서 다음과 같은 형식으로 현재 날짜와 시간을 출력하세요
# 2021년 12월 29일 15시 47분 30초

import time

t=time.time()
print(t)
now_year=(1970 + t//(365*24*3600)) ##timestemp를 이용해서 년도 출력(1970년부터 초시작)
print(now_year)
now_month=(t//((365/12)*24*3600)%12)
print(now_month)
now_date=((t//(24*3600))%(365/12))
print(now_date)
now_hour=(t//3600)%24
print(now_hour)
now_min=(t//60%60)
print(now_min)
now_sec=(t%60)
print(now_sec)

1640790853.5693944
2022.0
0.0
9.999999999999261
15.0
14.0
13.56939435005188

In [95]:
#Q6.format 함수를 이용해서 다음과 같은 형식으로 현재 날짜와 시간을 출력하세요
# 2021년 12월 29일 15시 47분 30초

import time

tm = time.localtime(time.time())

print("%d년 %d월 %d일 %d시 %d분 %d초"%(tm.tm_year,tm.tm_mon,tm.tm_mday,tm.tm_hour,tm.tm_min,tm.tm_sec))


#print("year:", tm.tm_year)
#print("month:", tm.tm_mon)
#print("day:", tm.tm_mday)
#print("hour:", tm.tm_hour)
#print("minute:", tm.tm_min)
#print("second:", tm.tm_sec)

2021년 12월 30일 0시 12분 32초

In [97]:
#Q7.현재 시각을 오전과 오후로 구분하는 프로그램을 작성하게요.

time_now=tm.tm_hour

if(time_now>12):
    print("오후입니다.")
else:
    print("오전입니다.")

오전입니다.

In [100]:
#Q8.정수를 입력하면 홀수 짝수를 판별하는 프로그램 작성

a=input("정수를 입력해주세요: ")
a=int(a)
if(a%2==0):
    print("짝수입니다.")
else:
    print("홀수입니다.")

정수를 입력해주세요: 3
홀수입니다.

In [123]:
#Q9.태어난 연도를 입력받아 띠를 출력하는 프로그램을 작성하세요
# 원숭이, 닭, 개, 돼지, 쥐, 소, 범, 토끼, 용, 뱀, 말, 양띠

di={"쥐":0, "소":1, "호랑이":2,"토끼":3,"용":4,"뱀":5,"말":6,"양":7, "원숭이":8,"닭":9,"개":10,"돼지":11}

age=input("태어난 연도를 입력해주세요: ")
age=int(age)
age1=age%100%12
print(age1)    #입력받은값을 인덱스로 만들기

list_of_key = list(di.keys())    #디랙셔리 키값을 리스트화 하기
print(list_of_key[age1])

print("당신의 띠는:",list_of_key[age1])

태어난 연도를 입력해주세요: 98
2
호랑이
당신의 띠는: 호랑이

In [138]:
#Q10. 계절 구분 프로그램
#각 계절별 출력 멘트는 계절에 맞게 창작
#if 조건문으로 datetime 모듈을 import해서 datetime.now 함수를 사용해서 작성

import datetime

t = datetime.datetime.now()
t=t.month
print(t)

if(t==11) or (t == 12) or (t==1) or (t==2):
    print("겨울입니다. 겨울에는 붕어빵이죠")
if(t>=3) and (t<=4):
    print("봄입니다. 미세먼지 조심하세요*^^*")
if(t>=5) and (t<=8):
    print("여름입니다. 올해도 최고기온 갱신!")
if(t>=9) and (t<=10):
    print("가을입니다. 순식간에 지나가요")

12
겨울입니다. 겨울에는 붕어빵이죠

In [124]:
import datetime
t = datetime.datetime.now()
t.month

12

In [139]:
#Q11.람다 함수를 이용해서 a의 b제곱을 구하는 식을 만들고
# a, b가 아래와 같이 주어졌을 때 각각의 값을 구하세요. 
# a = 2, b = 5
# a= 5, b = 2

In [1]:
#Q12. 커피 자판기 프로그램
# 시나리오 : 자판기 커피 재고 5잔, 커피 1잔 가격 300원, 재고 범위내에서 300원 이상
#돈을 넣으면 거스름돈과 커피를 주고 그렇지 않으면 반환하며 재고가 소진되면 
#안내멘트 출력    각 Case별 멘트 출력은 상황에 맞게 창작
#while, if ~ elif ~ else 제어문을 사용하여 작성


coffe_stock=5
coffe_price=300
while coffe_stock > 0:
    a=input("커피를 뽑겠습니까? [y/n]")

    if(a == "n"):
        break
    if(a == "y"):
        input_money=input("돈을 넣어주세요: ")
        input_money = int(input_money)
        out_money=(input_money - 300) 
        print("거스름돈 %d원과 커피 나왔습니다."%out_money)
        coffe_stock -=1
    
print("지금은 커피 재고가 없습니다.")

커피를 뽑겠습니까? [y/n]y
돈을 넣어주세요: 600
거스름돈 300원과 커피 나왔습니다.
커피를 뽑겠습니까? [y/n]y
돈을 넣어주세요: 1000
거스름돈 700원과 커피 나왔습니다.
커피를 뽑겠습니까? [y/n]y
돈을 넣어주세요: 700
거스름돈 400원과 커피 나왔습니다.
커피를 뽑겠습니까? [y/n]y
돈을 넣어주세요: 6000
거스름돈 5700원과 커피 나왔습니다.
커피를 뽑겠습니까? [y/n]y
돈을 넣어주세요: 800
거스름돈 500원과 커피 나왔습니다.
지금은 커피 재고가 없습니다.